<div class="m-admin-company-list">
  <!--search section-->
  <section class="row">
    <div class="col-md-12 form-horizontal form-group">
      <label for="_companyName" class="control-label fl">公司名称:</label>
      <div class="col-md-2">
        <input id="_companyName" type="text" class="form-control" value="" ng-model="vm.searchParams.companyName"/>
      </div>
      <label for="_reviewStatus" class="control-label fl">审核状态:</label>
      <div class="col-md-2">
        <select id="_reviewStatus" class="form-control" ng-model="vm.searchParams.auditStatus">
          <option value="">全部</option>
          <option value="0">待审核</option>
          <option value="1">审核通过</option>
          <option value="2">驳回</option>
        </select>
      </div>
      <div class="col-md-3 pr-5">
        <label for="_dateRangeStart" class="control-label fl mr-3">申请时间:</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format1}}"
                 ng-model="vm.searchParams.applyDateStart"
                 is-open="vm.datePickerConfig.start.opened" datepicker-options="vm.datePickerConfig.start.options"
                 ng-required="true" close-text="关闭"
                 alt-input-formats="altInputFormats" id="_dateRangeStart"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.datePickerConfig.start.open()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
        </div>
      </div>

      <div class="col-md-3 pl-3">
        <label for="_dateRangeEnd" class="control-label fl mr-5">--</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format1}}"
                 ng-model="vm.searchParams.applyDateEnd"
                 is-open="vm.datePickerConfig.end.opened" datepicker-options="vm.datePickerConfig.end.options"
                 ng-required="true" close-text="关闭"
                 alt-input-formats="altInputFormats" id="_dateRangeEnd"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.datePickerConfig.end.open()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="btn btn-default pull-right" ng-click="vm.getPage()">查找</div>
    </div>
  </section>
  <!--grid section-->
  <section class="row">
    <div class="col-md-12">
      <div ui-grid="vm.gridConfig" class="grid" ui-grid-pagination></div>
    </div>
  </section>
</div>
